.language-flag,
.language-has-translation,
.language-add-translation {
  padding-right: 20px;
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -99999px;
  background-size: contain;
  margin-right: 10px;
  width: 0;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.langcode-ad {
  background-image: url('../images/ad.png');
}

.langcode-ae {
  background-image: url('../images/ae.png');
}

.langcode-af {
  background-image: url('../images/af.png');
}

.langcode-ag {
  background-image: url('../images/ag.png');
}

.langcode-ai {
  background-image: url('../images/ai.png');
}

.langcode-al {
  background-image: url('../images/al.png');
}

.langcode-am {
  background-image: url('../images/am.png');
}

.langcode-ao {
  background-image: url('../images/ao.png');
}

.langcode-aq {
  background-image: url('../images/aq.png');
}

.langcode-ar {
  background-image: url('../images/ar.png');
}

.langcode-as {
  background-image: url('../images/as.png');
}

.langcode-at {
  background-image: url('../images/at.png');
}

.langcode-au {
  background-image: url('../images/au.png');
}

.langcode-aw {
  background-image: url('../images/aw.png');
}

.langcode-ax {
  background-image: url('../images/ax.png');
}

.langcode-az {
  background-image: url('../images/az.png');
}

.langcode-ba {
  background-image: url('../images/ba.png');
}

.langcode-bb {
  background-image: url('../images/bb.png');
}

.langcode-bd {
  background-image: url('../images/bd.png');
}

.langcode-be {
  background-image: url('../images/be.png');
}

.langcode-bf {
  background-image: url('../images/bf.png');
}

.langcode-bh {
  background-image: url('../images/bh.png');
}

.langcode-bi {
  background-image: url('../images/bi.png');
}

.langcode-bj {
  background-image: url('../images/bj.png');
}

.langcode-bl {
  background-image: url('../images/bl.png');
}

.langcode-bm {
  background-image: url('../images/bm.png');
}

.langcode-bn {
  background-image: url('../images/bn.png');
}

.langcode-bo {
  background-image: url('../images/bo.png');
}

.langcode-bs {
  background-image: url('../images/bs.png');
}

.langcode-bt {
  background-image: url('../images/bt.png');
}

.langcode-bv {
  background-image: url('../images/bv.png');
}

.langcode-bw {
  background-image: url('../images/bw.png');
}

.langcode-by {
  background-image: url('../images/by.png');
}

.langcode-bz {
  background-image: url('../images/bz.png');
}

.langcode-ca {
  background-image: url('../images/ca.png');
}

.langcode-cc {
  background-image: url('../images/cc.png');
}

.langcode-cf {
  background-image: url('../images/cf.png');
}

.langcode-cg {
  background-image: url('../images/cg.png');
}

.langcode-gsw-berne {
  background-image: url('../images/ch.png');
}

.langcode-ci {
  background-image: url('../images/ci.png');
}

.langcode-ck {
  background-image: url('../images/ck.png');
}

.langcode-cl {
  background-image: url('../images/cl.png');
}

.langcode-cm {
  background-image: url('../images/cm.png');
}

.langcode-co {
  background-image: url('../images/co.png');
}

.langcode-cr {
  background-image: url('../images/cr.png');
}

.langcode-cu {
  background-image: url('../images/cu.png');
}

.langcode-cv {
  background-image: url('../images/cv.png');
}

.langcode-cw {
  background-image: url('../images/cw.png');
}

.langcode-cx {
  background-image: url('../images/cx.png');
}

.langcode-cy {
  background-image: url('../images/cy.png');
}

.langcode-cz {
  background-image: url('../images/cz.png');
}

.langcode-de {
  background-image: url('../images/de.png');
}

.langcode-dj {
  background-image: url('../images/dj.png');
}

.langcode-dk {
  background-image: url('../images/dk.png');
}

.langcode-dm {
  background-image: url('../images/dm.png');
}

.langcode-do {
  background-image: url('../images/do.png');
}

.langcode-dz {
  background-image: url('../images/dz.png');
}

.langcode-ec {
  background-image: url('../images/ec.png');
}

.langcode-ee {
  background-image: url('../images/ee.png');
}

.langcode-eg {
  background-image: url('../images/eg.png');
}

.langcode-eh {
  background-image: url('../images/eh.png');
}

.langcode-el {
  background-image: url('../images/gr.png');
}

.langcode-en {
  background-image: url('../images/en.png');
}

.langcode-en-gb {
  background-image: url('../images/gb.png');
}

.langcode-er {
  background-image: url('../images/er.png');
}

.langcode-es {
  background-image: url('../images/es.png');
}

.langcode-et {
  background-image: url('../images/et.png');
}

.langcode-fi {
  background-image: url('../images/fi.png');
}

.langcode-fj {
  background-image: url('../images/fj.png');
}

.langcode-fk {
  background-image: url('../images/fk.png');
}

.langcode-fm {
  background-image: url('../images/fm.png');
}

.langcode-fo {
  background-image: url('../images/fo.png');
}

.langcode-fr {
  background-image: url('../images/fr.png');
}

.langcode-ga {
  background-image: url('../images/ga.png');
}

.langcode-gb-nir {
  background-image: url('../images/gb-nir.png');
}

.langcode-gb-sct {
  background-image: url('../images/gb-sct.png');
}

.langcode-gb-wls {
  background-image: url('../images/gb-wls.png');
}

.langcode-gb {
  background-image: url('../images/gb.png');
}

.langcode-gd {
  background-image: url('../images/gd.png');
}

.langcode-ge {
  background-image: url('../images/ge.png');
}

.langcode-gf {
  background-image: url('../images/gf.png');
}

.langcode-gg {
  background-image: url('../images/gg.png');
}

.langcode-gh {
  background-image: url('../images/gh.png');
}

.langcode-gi {
  background-image: url('../images/gi.png');
}

.langcode-gl {
  background-image: url('../images/gl.png');
}

.langcode-gm {
  background-image: url('../images/gm.png');
}

.langcode-gn {
  background-image: url('../images/gn.png');
}

.langcode-gp {
  background-image: url('../images/gp.png');
}

.langcode-gq {
  background-image: url('../images/gq.png');
}

.langcode-gr {
  background-image: url('../images/gr.png');
}

.langcode-gs {
  background-image: url('../images/gs.png');
}

.langcode-gt {
  background-image: url('../images/gt.png');
}

.langcode-gu {
  background-image: url('../images/gu.png');
}

.langcode-gw {
  background-image: url('../images/gw.png');
}

.langcode-gy {
  background-image: url('../images/gy.png');
}

.langcode-hk {
  background-image: url('../images/hk.png');
}

.langcode-hm {
  background-image: url('../images/hm.png');
}

.langcode-hn {
  background-image: url('../images/hn.png');
}

.langcode-hr {
  background-image: url('../images/hr.png');
}

.langcode-ht {
  background-image: url('../images/ht.png');
}

.langcode-hu {
  background-image: url('../images/hu.png');
}

.langcode-id {
  background-image: url('../images/id.png');
}

.langcode-ie {
  background-image: url('../images/ie.png');
}

.langcode-il {
  background-image: url('../images/il.png');
}

.langcode-im {
  background-image: url('../images/im.png');
}

.langcode-in {
  background-image: url('../images/in.png');
}

.langcode-io {
  background-image: url('../images/io.png');
}

.langcode-iq {
  background-image: url('../images/iq.png');
}

.langcode-ir {
  background-image: url('../images/ir.png');
}

.langcode-is {
  background-image: url('../images/is.png');
}

.langcode-it {
  background-image: url('../images/it.png');
}

.langcode-ja {
  background-image: url('../images/jp.png');
}

.langcode-je {
  background-image: url('../images/je.png');
}

.langcode-jm {
  background-image: url('../images/jm.png');
}

.langcode-jo {
  background-image: url('../images/jo.png');
}

.langcode-ke {
  background-image: url('../images/ke.png');
}

.langcode-kg {
  background-image: url('../images/kg.png');
}

.langcode-kh {
  background-image: url('../images/kh.png');
}

.langcode-ki {
  background-image: url('../images/ki.png');
}

.langcode-km {
  background-image: url('../images/km.png');
}

.langcode-kn {
  background-image: url('../images/kn.png');
}

.langcode-kp {
  background-image: url('../images/kp.png');
}

.langcode-kr {
  background-image: url('../images/kr.png');
}

.langcode-kw {
  background-image: url('../images/kw.png');
}

.langcode-ky {
  background-image: url('../images/ky.png');
}

.langcode-kz {
  background-image: url('../images/kz.png');
}

.langcode-la {
  background-image: url('../images/la.png');
}

.langcode-lb {
  background-image: url('../images/lb.png');
}

.langcode-lc {
  background-image: url('../images/lc.png');
}

.langcode-li {
  background-image: url('../images/li.png');
}

.langcode-lk {
  background-image: url('../images/lk.png');
}

.langcode-lr {
  background-image: url('../images/lr.png');
}

.langcode-ls {
  background-image: url('../images/ls.png');
}

.langcode-lt {
  background-image: url('../images/lt.png');
}

.langcode-lu {
  background-image: url('../images/lu.png');
}

.langcode-lv {
  background-image: url('../images/lv.png');
}

.langcode-ly {
  background-image: url('../images/ly.png');
}

.langcode-ma {
  background-image: url('../images/ma.png');
}

.langcode-mc {
  background-image: url('../images/mc.png');
}

.langcode-md {
  background-image: url('../images/md.png');
}

.langcode-me {
  background-image: url('../images/me.png');
}

.langcode-mf {
  background-image: url('../images/mf.png');
}

.langcode-mg {
  background-image: url('../images/mg.png');
}

.langcode-mh {
  background-image: url('../images/mh.png');
}

.langcode-mk {
  background-image: url('../images/mk.png');
}

.langcode-ml {
  background-image: url('../images/ml.png');
}

.langcode-mm {
  background-image: url('../images/mm.png');
}

.langcode-mn {
  background-image: url('../images/mn.png');
}

.langcode-mo {
  background-image: url('../images/mo.png');
}

.langcode-mp {
  background-image: url('../images/mp.png');
}

.langcode-mq {
  background-image: url('../images/mq.png');
}

.langcode-mr {
  background-image: url('../images/mr.png');
}

.langcode-ms {
  background-image: url('../images/ms.png');
}

.langcode-mt {
  background-image: url('../images/mt.png');
}

.langcode-mu {
  background-image: url('../images/mu.png');
}

.langcode-mv {
  background-image: url('../images/mv.png');
}

.langcode-mw {
  background-image: url('../images/mw.png');
}

.langcode-mx {
  background-image: url('../images/mx.png');
}

.langcode-my {
  background-image: url('../images/my.png');
}

.langcode-mz {
  background-image: url('../images/mz.png');
}

.langcode-na {
  background-image: url('../images/na.png');
}

.langcode-nc {
  background-image: url('../images/nc.png');
}

.langcode-ne {
  background-image: url('../images/ne.png');
}

.langcode-nf {
  background-image: url('../images/nf.png');
}

.langcode-ng {
  background-image: url('../images/ng.png');
}

.langcode-ni {
  background-image: url('../images/ni.png');
}

.langcode-nl {
  background-image: url('../images/nl.png');
}

.langcode-no {
  background-image: url('../images/no.png');
}

.langcode-np {
  background-image: url('../images/np.png');
}

.langcode-nr {
  background-image: url('../images/nr.png');
}

.langcode-nu {
  background-image: url('../images/nu.png');
}

.langcode-nz {
  background-image: url('../images/nz.png');
}

.langcode-om {
  background-image: url('../images/om.png');
}

.langcode-pa {
  background-image: url('../images/pa.png');
}

.langcode-pe {
  background-image: url('../images/pe.png');
}

.langcode-pf {
  background-image: url('../images/pf.png');
}

.langcode-pg {
  background-image: url('../images/pg.png');
}

.langcode-ph {
  background-image: url('../images/ph.png');
}

.langcode-pk {
  background-image: url('../images/pk.png');
}

.langcode-pl {
  background-image: url('../images/pl.png');
}

.langcode-pm {
  background-image: url('../images/pm.png');
}

.langcode-pn {
  background-image: url('../images/pn.png');
}

.langcode-pr {
  background-image: url('../images/pr.png');
}

.langcode-ps {
  background-image: url('../images/ps.png');
}

.langcode-pt {
  background-image: url('../images/pt.png');
}

.langcode-pt-br {
  background-image: url('../images/br.png');
}

.langcode-pt-pt {
  background-image: url('../images/pt.png');
}

.langcode-pw {
  background-image: url('../images/pw.png');
}

.langcode-py {
  background-image: url('../images/py.png');
}

.langcode-qa {
  background-image: url('../images/qa.png');
}

.langcode-re {
  background-image: url('../images/re.png');
}

.langcode-ro {
  background-image: url('../images/ro.png');
}

.langcode-rs {
  background-image: url('../images/rs.png');
}

.langcode-ru {
  background-image: url('../images/ru.png');
}

.langcode-rw {
  background-image: url('../images/rw.png');
}

.langcode-sa {
  background-image: url('../images/sa.png');
}

.langcode-sb {
  background-image: url('../images/sb.png');
}

.langcode-sc {
  background-image: url('../images/sc.png');
}

.langcode-sd {
  background-image: url('../images/sd.png');
}

.langcode-se {
  background-image: url('../images/se.png');
}

.langcode-sg {
  background-image: url('../images/sg.png');
}

.langcode-sh {
  background-image: url('../images/sh.png');
}

.langcode-si {
  background-image: url('../images/si.png');
}

.langcode-sj {
  background-image: url('../images/sj.png');
}

.langcode-sk {
  background-image: url('../images/sk.png');
}

.langcode-sl {
  background-image: url('../images/sl.png');
}

.langcode-sm {
  background-image: url('../images/sm.png');
}

.langcode-sn {
  background-image: url('../images/sn.png');
}

.langcode-so {
  background-image: url('../images/so.png');
}

.langcode-sr {
  background-image: url('../images/sr.png');
}

.langcode-ss {
  background-image: url('../images/ss.png');
}

.langcode-st {
  background-image: url('../images/st.png');
}

.langcode-sv {
  background-image: url('../images/sv.png');
}

.langcode-sx {
  background-image: url('../images/sx.png');
}

.langcode-sy {
  background-image: url('../images/sy.png');
}

.langcode-sz {
  background-image: url('../images/sz.png');
}

.langcode-tc {
  background-image: url('../images/tc.png');
}

.langcode-td {
  background-image: url('../images/td.png');
}

.langcode-tf {
  background-image: url('../images/tf.png');
}

.langcode-tg {
  background-image: url('../images/tg.png');
}

.langcode-th {
  background-image: url('../images/th.png');
}

.langcode-tj {
  background-image: url('../images/tj.png');
}

.langcode-tk {
  background-image: url('../images/tk.png');
}

.langcode-tl {
  background-image: url('../images/tl.png');
}

.langcode-tm {
  background-image: url('../images/tm.png');
}

.langcode-tn {
  background-image: url('../images/tn.png');
}

.langcode-to {
  background-image: url('../images/to.png');
}

.langcode-tr {
  background-image: url('../images/tr.png');
}

.langcode-tt {
  background-image: url('../images/tt.png');
}

.langcode-tv {
  background-image: url('../images/tv.png');
}

.langcode-tw {
  background-image: url('../images/tw.png');
}

.langcode-tz {
  background-image: url('../images/tz.png');
}

.langcode-ua {
  background-image: url('../images/ua.png');
}

.langcode-ug {
  background-image: url('../images/ug.png');
}

.langcode-um {
  background-image: url('../images/um.png');
}

.langcode-us {
  background-image: url('../images/us.png');
}

.langcode-uy {
  background-image: url('../images/uy.png');
}

.langcode-uz {
  background-image: url('../images/uz.png');
}

.langcode-va {
  background-image: url('../images/va.png');
}

.langcode-vc {
  background-image: url('../images/vc.png');
}

.langcode-ve {
  background-image: url('../images/ve.png');
}

.langcode-vg {
  background-image: url('../images/vg.png');
}

.langcode-vi {
  background-image: url('../images/vi.png');
}

.langcode-vn {
  background-image: url('../images/vn.png');
}

.langcode-vu {
  background-image: url('../images/vu.png');
}

.langcode-wf {
  background-image: url('../images/wf.png');
}

.langcode-ws {
  background-image: url('../images/ws.png');
}

.langcode-xk {
  background-image: url('../images/xk.png');
}

.langcode-ye {
  background-image: url('../images/ye.png');
}

.langcode-yt {
  background-image: url('../images/yt.png');
}

.langcode-za {
  background-image: url('../images/za.png');
}

.langcode-zh-hans {
  background-image: url('../images/cn.png');
}

.langcode-zh-hant {
  background-image: url('../images/cn.png');
}

.langcode-zm {
  background-image: url('../images/zm.png');
}

.langcode-zw {
  background-image: url('../images/zw.png');
}

.language-has-translation {
  background-image: url('../images/edit.png');
}

.language-add-translation {
  background-image: url('../images/add.png');
}
